body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: left; /* Align list items to the left */
}

header {
    background-color: #ffcc00;
    padding: 30px;
    text-align: center;
    
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; /* Change to desired font */
    font-size: 3em; /* Increase font size */
    font-style: italic;
    font-weight: bold; /* Make the footer text bold */
}

main {
    padding: 20px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-image {
    max-width: 100%;
    width: 300px; /* Adjust the width as needed */
    height: auto;
}

#recipe {
    background-color: #fffdf4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#recipe h2 {
    color: #461c00;
    text-align: center; /* Align list items to the left */
    
}
#recipe h3 {
    color: #461c00;
    text-align: left; /* Align list items to the left */
    
    
}
#recipe ul, #recipe ol {
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: light; /* Make the h2 elements bold */
    text-align: left; /* Align list items to the left */
}

footer {
    
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
